[Unit]
Description=GPIO Keypress Listener
After=multi-user.target

[Service]
ExecStart=/usr/bin/python3 /home/hypnoshock/mod_player/input.py
Restart=always

[Install]
WantedBy=multi-user.target

